# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Git
.git
.gitignore

# Environment
.env
.env.*

# Python virtual environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
